<div class="container-fluid body">



    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2> Glowing border </h2>
            <p> some randon text goes here about company some randon text goes here about companysome randon text goes
                here
                about company, some randon text goes here about companysome randon text goes here about company </p>
        </div>
    </div>

    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2> Glowing border </h2>
            <p> some randon text goes here about company some randon text goes here about companysome randon text goes
                here
                about company, some randon text goes here about companysome randon text goes here about company </p>
        </div>
    </div>

    <div class="box">
        <div class="glass"></div>
        <div class="content">
            <h2> Glowing border </h2>
            <p> some randon text goes here about company some randon text goes here about companysome randon text goes
                here
                about company, some randon text goes here about companysome randon text goes here about company </p>
        </div>
    </div>

</div>