<!-- <div class="container mt-5 mb-5">
    <h1 class=" text-justify">Best Indian Bitcoin Exchanges To Buy Bitcoins [Mega List –
        2020] n jhcdbjxcnkxhgbcvg</h1>
</div>

<div class="container-fluid parallax">
</div>

<div class="some">Best Indian Bitcoin Exchanges To Buy Bitcoins [Mega List –
    2020] n jhcdbjxcnkxhgbcvg</div>

<div style="height:1000px;background-color:red;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
<br>

<div class="w-50 bg-dark text-justify">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div> -->
<div class="container-fluid">
    <div class="float-right">
        <button mat-icon-button routerLinkActive="list-item-active" routerLink="/insurance" class="button">
            <mat-icon>security</mat-icon>Insurance
        </button>
    </div>

    <div class="container mt-5 mb-5">
        <h1 class=" text-center txt onLoad-text">Best Indian Bitcoin Exchanges To Buy Bitcoins And To Pay Insurance
            [Mega
            List –
            2020]</h1>
    </div>

    <app-about></app-about>

</div>
<router-outlet></router-outlet>